.App {
  background-color: #ffffff;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.avatatdot {
  display: none;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 275px;
}

#profile__img:hover {
  border: 2px solid indigo;
  border-radius: 1px;
}

.icon {
  position: absolute;
  left: 60.5%;
  width: 20px;
  height: 20px;
  top: 2.99px;
}

.icon:hover {
  border: 1.66667px solid indigo;
  color: indigo;
}

#twitter {
  /* width: 200px; */
  height: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #101828;
}

#slack {
  display: none;
  width: 1152px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#slack:hover {
  text-decoration: underline blue;
}

.buttons__container {
  padding: 7px;
}

.buttons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: auto;
  text-decoration: none;
  width: 1152px;
  height: 76px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.social__icons {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .App {
    width: 10px;
  }
 

  

  .avatatdot {
    display: block;
    width: 50px;
    height: 50px;
    margin: 50px;
  }

  .dotshare__container {
    display: flex;
    gap: 100px;
  }
 

  .buttons {
    max-width: 500px;
    padding: 70px;
    margin-top: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    overflow: hidden;
   
  }

  .icon {display: none;}

  .footer {
    display: none;
  }

  .social__icons {
    display: none;
  }

  #twitter {
    margin-left: 170%;
    font-weight: 400px;
    font-size: 20px;
    margin-top: 24px;
  }

  #profile__img {
    width: 200px;
    height: 150px;
    margin-top: 24px;
    
    margin-left: 90%;
  }
}
