.App {
  background-color: #ffffff;
}





@media screen and (max-width: 768px) {

.App {
  max-width: 100%;
}

.profile-container {
  max-width: 100%;
  margin-left:180px
}

.footer {
  max-width: 100%;
}

.buttons__container {
  max-width: 100%;
}
 

  

  .avatatdot {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto
  }

  .dotshare__container {
    display: flex;
    gap: 120px;
  }
 

  .buttons {
    max-width: 100%;
    padding: 70px;
    margin-top: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    overflow: hidden;
   
  }

  .icon {display: none;}

  .footer {
    display: none;
  }

  .social__icons {
    display: none;
  }

  #twitter {
    margin-right: 180px;
    font-weight: 400px;
    font-size: 20px;
    margin-top: 24px;
  }

  #profile__img {
    width: 200px;
    height: 150px;
    margin-top: 24px;
    
    margin-left: auto;
  }
}
